.defaults.cfg
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib/
pm_to_blib
parser/Parser.output
xs/MYMETA.json
xs/MYMETA.yml
xs/Makefile
xs/Makefile.old
xs/Stash.c
xs/Stash.o
xs/XS.bs
xs/pm_to_blib
t/template/templates/cache
t/template/tmp
t/template/templates/compile/*.ttc
t/template/templates/compile/complex.org
